body {
    background-color: rgb(255, 252, 214);
}

h1, h2 {
    display: flex;
    justify-content: center;
    font-family: "Passion One", sans-serif;
    letter-spacing: 2px;
}

h1 {
    color: rgb(55, 55, 189);
    font-size: 50px;
    margin-bottom: 8px;
    margin-top: 8px;
}

h2 {
    font-size: 40px;
    margin-top: 10px;
}

#container {
    display: flex;
    justify-content: center;
}

#game {
    display: flex;
    flex-direction: row;
    background: url(images/background-col-transparent.png);
    height: 556px;
    width: 700px;
}
  
.column {
    display: flex;
    flex-direction: column-reverse;
    width: 100px;
    height: 550px;
}

.piece {
    align-self: center;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    margin-top: 3px;
    margin-bottom: 3px;
    pointer-events: none;
}

.Red {
    background-color: rgb(190, 0, 0);
}

.Black {
    background-color: rgb(26, 26, 26);
}

#replayButton {
    font-family: "Passion One", sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 40px;
    background-color: rgb(55, 55, 189);
    border: none;
    color: white;
    max-width: 120px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
}

#leftSide {
    background-color: rgb(55, 55, 189);
    border: none;
    width: 120px;
    display: flex;
    font-size: 22px;
    line-height: 40px;
}